*.disabled
*sublime*
_*
*.code*
.vscode/*
.ini
.venv
*.jar
/.mixin.out
/crash-reports  
/downloads
/fancymenu_data
/local
/logs
/patchouli_books
/profileImage
/resourcepacks
/saves
/schematics
/shaderpacks
/command_history.txt
/emi.json
/knownkeys.txt
/minecraftinstance.json
/patchouli_data.json
/usercache.json
/usernamecache.json
.curseclient
/.vscode
/modernfix
/backups
/rhino.local.properties
/.qmenu_opened.marker
/Distant_Horizons_server_data
/servers.dat
/servers.dat_old
/user-prefs.json
/options.txt
/mod_data